#!/bin/bash
#define i-matik path for freetz
I_MATIK_CONFIG_FRITZBOX_PATH_openssl_10="$I_MATIK_PATH/config/fritzbox/openssl_10"
I_MATIK_CONFIG_FRITZBOX_PATH_openssl_11="$I_MATIK_PATH/config/fritzbox/openssl_11"
I_MATIK_CONFIG_FRITZBOX_PATH_openssl_30="$I_MATIK_PATH/config/fritzbox/openssl_30"
I_MATIK_CONFIG_FRITZBOX_PATH_openssl_multi="$I_MATIK_PATH/config/fritzbox/openssl_multi"
I_MATIK_INSTAL_CHECK="$I_MATIK_PATH/config/fritzbox/scripts/instal_check/instal_check"
I_MATIK_VERSION="$I_MATIK_PATH/config/i-matik/i-matik_v.config"

#define freetz-ng for openssl path
FREETZ_PATH_SSL_10="$I_MATIK_PATH/tools/freetz-ng/openssl_1_0_x"
FREETZ_PATH_SSL_11="$I_MATIK_PATH/tools/freetz-ng/openssl_1_1_x"
FREETZ_PATH_SSL_30="$I_MATIK_PATH/tools/freetz-ng/openssl_3_0_x"
FREETZ_PATH_SSL_MULTI="$I_MATIK_PATH/tools/freetz-ng/openssl_multi"

#define the openssl version for SKIP_CLIENT and SKIP_MASTER 
FREETZ_SSL_VERSION_10="openssl_1_0_x"
FREETZ_SSL_VERSION_11="openssl_1_1_x"
FREETZ_SSL_VERSION_30="openssl_3_0_x"
FREETZ_SSL_VERSION_MULTI="openssl_multi"

#define my files home path
MY_FILES_HOME_PATH="$I_MATIK_PATH/config/fritzbox/MY_FILES"

#define image home path
FREETZ_IMAGE_PATH="$I_MATIK_PATH/freetz-images"
END_IMAGE_PATH="images"
END_IMAGE_INMEMORY_PATH="image_inmemory"

#define user scripts home path
USER_APPLICATION_ON="$I_MATIK_PATH/config/fritzbox/scripts/user_scripts/user-application_on"
USER_APPLICATION_OFF="$I_MATIK_PATH/config/fritzbox/scripts/user_scripts/user-application_off"

#delete images that are older than 1440 mins (1Day)
delete_images=1440

#If you don't need the make menuconfig, just put a # in front of MENUC and MENUC1
MENUC=make
MENUC1=menuconfig
NOMENUC=make
NOMENUC1=olddefconfig

# Here you can specify the maximum threads on your CPU
MAX_CPUS="$(getconf _NPROCESSORS_ONLN)";

#image2inmemory tool
IMAGE2MEMORY=./image2inmemory

#define i-matik path for oscam
I_MATIK_PATH_OSCAM="$I_MATIK_PATH/tools/s3_releases"

#define i-matik for oscam type
I_MATIK_OSCAM="$I_MATIK_PATH/config/oscam/scripts/oscam"
I_MATIK_OSCAM_MULTI="$I_MATIK_PATH/config/oscam/scripts_privat/oscam"

#define my files home path for oscam 
MY_FILES_HOME_PATH_OSCAM="$I_MATIK_PATH/config/oscam/MY_FILES"

#define i-matik for oscam reader treiber
#I_MATIK_OSCAM_reader="webif-dvbapi-libusb-pcsc"
#I_MATIK_OSCAM_reader="webif-libusb-pcsc-ipv6"
I_MATIK_OSCAM_reader="webif-libusb-pcsc"
#end of config
